*,html,body{
    box-sizing: border-box;
    margin: 0vh;
    padding: 0vh;
}
body{
    height: 200vh;
}
header{
    background-color: rgba(0,0,0,0);
    position: fixed;
    line-height: 8vh;
    z-index: 1;
    width: 100%;
}
.navback{
    background-color: rgba(2255,255,255,0);
    background: linear-gradient(90deg,#ffffff,#ccd9ff, #b3c6ff,#99b3ff,#668cff);
}
header .head {
    margin-right: 5vh;
    margin-left: 5vh;
}
.logo img{
    margin-top: .2vh;
    border: 0vh;
    padding: .8vh;
    height: 10vh;
    width: 10vh;
}
ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
nav{
    align-self: left;
}
.nav-links li{
    display: inline;
    align-content: right;
}
a{
    text-decoration-style: solid;
}
header nav{
    float: right;
}

header nav ul li a{
    font-size: 3.5vh;
    font-weight: 200;
    color: aliceblue;
    transition: all .7s ease-in-out;
}
header nav ul li a:hover{
    font-size: 3.5vh;
    font-weight: 200;
    color: rgb(1, 131, 136);
    text-decoration: none;
}
header nav ul li{
    padding-right: .9vh;
    padding-left: .9vh;
    margin-top: .5vh;
}
head ul{
    margin: 2vh;
    display: flex;
    flex-direction: row;
}

.micon{
    float: left;
    margin-top: 2vh;
    font-size: 7vh;
    color: rgb(255, 255, 255);
    border: 2vh;
    visibility: none;
    display: none;
    cursor: pointer;
}


@media screen and (max-width:800px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height : 50vh;
        top: 10vh;
        background: linear-gradient(90deg,#99b3ff,#668cff);
        display: flex;
        flex-direction: column;
        align-items: left;
        z-index: 1;
        transform: translateY(-130%);
        transition: transform 0.8s ease-in;
    }
    .micon{
        visibility: visible;
        display: inline;
    }
    .nav-links li{
        opacity: 1;
    }
    .nav-active{
        position: absolute;
        right: 0px;
        height : 50vh;
        top: 10vh;
        background: linear-gradient(90deg,#99b3ff,#668cff);
        display: flex;
        flex-direction: column;
        align-items: left;
        z-index: 1;
        transform: translateY(0%);
    }
}



.slider{
    position: relative;
    top: 0vh;
}



section.slider,.slider ul,.slider ul li{
    height: 100vh;
    width: 100%;
    color: white;
    text-align: center;
    top: 0vh;
}

.slider-carousel{
    top: 0vh;
}
.slider .bodyBlock{
    margin-top: 20%;
}
.h2{
    font-weight: bold;
}

.img1{
    background-image: linear-gradient(rgba(0,0,35,.2),rgba(0,0,35,.8)),url("../images/image1.jpg");
    background-size: 100% 110vh;
    background-repeat: no-repeat;
}
.img2{
    background-image: linear-gradient(rgba(0,0,35,.2),rgba(0,0,35,.8)),url("../images/image2.jpg");
    background-size: 100% 110vh;
    background-repeat: no-repeat;
}
.img3{
    background-image: linear-gradient(rgba(0, 0, 35, 0.2),rgba(0,0,35,.8)),url("../images/image3.jpg");
    background-size: 100% 110vh;
    background-repeat: no-repeat;
}
section ul li i{
    border: .5vh;
    padding:5vh;
    font-size: 8vh;
}
.slider .btn{
    margin-top: .5vh;
    padding: 1vh 4vh;
    background-color:#99b3ff;
    color: whitesmoke;
}
.slider .btn:hover{
    opacity: .7;
}
